@import url('../static/fonts/neue-machina/font.css');
@import url('../static/fonts/poppins/font.css');
@import url('../static/fonts/noto-sans-mono/font.css');

:root {
	--black: #000205;
	--pink: #f5b093;
	--white: #ffffff;

	--background: var(--black);
	--highlight: var(--pink);
	--foreground: var(--white);
}

body {
	background: var(--background);
	color: var(--foreground);
	font: 16px 'Neue Machina';
	line-height: 1.4;
	margin: 0;
	padding: 0;
}

h1,
.h1 {
	font-size: 26px;
	line-height: 32px;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

pre {
	font-family: 'Noto Sans Mono';
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: var(--foreground);
	--foreground: var(--pink);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
